.card {
	display:inline-block;
}

.card:hover {
	color: #212529;
    background-color: rgba(0,0,0,.075);
}

h2 {
	text-align: center
}

.plotDiv {
	width: 100%;
	height: 20em;
}

#heatmap {
	height: 40em;
}
